/*overall pages styling*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: fffaf0;
    margin: 0;
    padding: 20px 80px;
    line-height: 1.6;
}

/*links*/
a {
    color: #0081AF;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: none;

}

/*headings*/
h1 {
    text-align: center;
    color: #423E3B;
    margin-bottom: 5px;
    font-family: "Grenze Gotisch", serif;
    font-size: 110px;
}

h2 {

    color: #423E3B;
    border-left: 5px solid #FEA82F;
    padding-left: 10px;
    margin-top: 30px;
    font-family: "Texturina", serif;
    font-size: 40px ;
}

/*paras*/
p {
    font-family: "Texturina", serif;
    font-size: 23px;
    color: #423E3B;
}

/*lists*/
ul, ol {
    margin-left: 40px;
    color: #423E3B;
}

li {
    margin-bottom: 5px;
    font-family: "Texturina", serif;
    font-size: 23px;
    color: #423E3B;
}

hr {
    width: 60%;
    border: none;
    border-top: 2px solid #FEA82F;
    margin: 20px auto;
}

/*buttons*/
.country-buttons {
    text-align: center;
    margin-top: 40px;
    font-family: "Texturina", serif;
}

.btn {
    display: inline-block;
    background-color: #3891A6;
    color: white;
    padding: 12px 25px;
    margin: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease;
}

.home-btn {
    display: inline-block;
    font-size: 16px;
    padding: 5px 20px;
    text-align: left;
    font-family: "Texturina", serif;
}

.btn:hover {
    background-color: #FEA82F;
    transform: scale(1.05);
}

/*table styling*/
table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th {
    background-color: #0081AF;
    color: white;
    padding: 12px;
    font-size: 25px;
    font-family: "Texturina", serif;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-family: "Texturina", serif;
    font-size: 21px;
}

tr:nth-child(even) {
    background-color: #f0f6ff;
}

/*bottom spacing*/
body::after {
    content: "";
    display: block;
    height: 40px;
}
