/*overall pages styling*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: fffaf0;
    margin: 0;
    padding: 0 20px;
    line-height: 1.6;
}

/*links*/
a {
    color: #0081AF;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: none;

}

#greeting {
    text-align: center;
    color: #fffaf0;
    font-family: 'Grenze Gotisch', serif;
    font-size: 45px;
    margin-bottom: 10px; /* Reduce gap below greeting */
    background-color: #d34e06;  
    padding: 15px 0;            
    width: 100%;  
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 3px 10px #000000;

    z-index: 2;  /* make sure greeting stays above image */
    position: relative; 
}

/*title section*/
.title{
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;

    width: calc(100% + 40px);  /* full width including body padding */
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 75px;
    
    height: 400px;
    display: flex;
    align-items: center;         
    justify-content: center;

    margin-top: -15px;           /* negative margin to overlap greeting */
    z-index: 1;                  /* image goes behind greeting */
    position: relative;
}

.title-text{
    text-align: center;
    line-height: 1.1;
}

.title h1 {
    color: white;                  
    font-size: 150px;
    font-family: 'Grenze Gotisch', serif;
    text-shadow: 0px 10px 25px rgba(0,0,0,0.6); /*shadow*/
}

.title .tagline {
    color: white;
    font-size: 44px;
    font-family: 'Grenze Gotisch', serif;
    text-shadow: 0px 5px 20px rgba(0,0,0,0.6);
    margin-top: -20px;       /* spacing under heading */
}


/*headings*/
h1 {
    text-align: center;
    color: #423E3B;
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: "Grenze Gotisch", serif;
    font-size: 110px;
}

h2 {

    color: #423E3B;
    border-left: 5px solid #FEA82F;
    padding-left: 10px;
    margin-top: 30px;
    font-family: "Texturina", serif;
    font-size: 40px ;
}

/*paras*/
p {
    font-family: "Texturina", serif;
    font-size: 23px;
    color: #423E3B;
}

/*lists*/
ul, ol {
    margin-left: 40px;
    color: #423E3B;
}

li {
    margin-bottom: 5px;
    font-family: "Texturina", serif;
    font-size: 23px;
    color: #423E3B;
}

hr {
    width: 60%;
    border: none;
    border-top: 2px solid #FEA82F;
    margin: 20px auto;
}

/*buttons*/
.country-buttons {
    text-align: center;
    margin-top: 40px;
    font-family: "Texturina", serif;
}

.btn {
    display: inline-block;
    background-color: #d34e06;
    color: white;
    padding: 12px 25px;
    margin: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease;
}

.home-button{
    width: 100%;
    background-color: #d34e06;   /* same as #greeting */
    padding: 25px 0;              /* vertical spacing like greeting */
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); /* horizontal, vertical, blur, color */

    z-index: 2;  /* make sure greeting stays above image */
    position: relative; 
}

.home-btn {
    display: inline-block;
    background-color: #ff6919;
    font-size: 16px;
    padding: 5px 20px;
    text-align: left;
    font-family: "Texturina", serif;
    
}

.btn:hover {
    background-color: #FEA82F;
    transform: scale(1.05);
}

/*table styling*/
table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th {
    background-color: #0081AF;
    color: white;
    padding: 12px;
    font-size: 25px;
    font-family: "Texturina", serif;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-family: "Texturina", serif;
    font-size: 21px;
}

tr:nth-child(even) {
    background-color: #f0f6ff;
}

/*bottom spacing*/
body::after {
    content: "";
    display: block;
    height: 40px;
}

.title {
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    box-shadow: 0px 3px 50px #423E3B;
}

/* Default (Study Abroad main banner) */
.title[data-country="study"] {
    background-image: url("images/index.jpg");
}

/* USA */
.title[data-country="usa"] {
    background-image: url("images/usa_banner.png");
}

/* UK */
.title[data-country="uk"] {
    background-image: url("images/uk_banner.png");
}

/* Germany */
.title[data-country="germany"] {
    background-image: url("images/germany.jpg");
}